/* Fonts CSS - Add custom font imports here if needed */

/* Example:
@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/CustomFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*/
